<div class="container-fluid">
  <h2>Registration Form</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <!----- Code for username label -->
    <div class="form-group">
      <label>Username</label>
      <input type="text" [class.is-invalid]="f.userName.invalid && f.userName.touched" formControlName="userName"
        class="form-control">
      <div *ngIf="f.userName.invalid && f.userName.touched && f.userName.errors">
        <small class="text-danger" *ngIf="f.userName.errors?.required">Username is required!</small>
        <small class="text-danger" *ngIf="f.userName.errors?.pattern || f.userName.errors?.minlength">Min character
          should be six,Characters otherthan _,- not allowed</small>
      </div>
    </div>
    <!-- Code for mobile number -->
    <div class="form-group">
      <label>Mobile</label>
      <input type="text" [class.is-invalid]="f.number.invalid && f.number.touched" formControlName="number"
        class="form-control">
      <div *ngIf="f.number.invalid && f.number.touched && f.number.errors">
        <small class="text-danger" *ngIf="f.number.errors?.required">Mobile number is required!</small>
        <small class="text-danger" *ngIf="f.number.errors?.pattern ">Only Numbers</small>
        <small class="text-danger" *ngIf="f.number.errors?.minlength ">Digits should be 10</small>
        <small class="text-danger" *ngIf="f.number.errors?.maxlength "></small>
      </div>
    </div>
    <!----- Code for password label -->
    <div class="form-group">
      <label>Password</label>
      <!-- <input type="password" formControlName="password" class="form-control"> -->
      <input type="password" [class.is-invalid]="f.password.invalid && f.password.touched" formControlName="password"
        class="form-control">
      <div *ngIf="f.password.invalid && f.password.touched ">
        <small class="text-danger" *ngIf="f.password.errors?.required">Password is required</small>
        <small class="text-danger" *ngIf="f.password.errors?.minlength">Min characters should be six</small>

      </div>
    </div>
    <!----- Code for email label -->
    <div class="form-group">
      <label>Email</label>
      <input type="email" [class.is-invalid]="f.email.invalid && f.email.touched && f.email.errors"
        formControlName="email" class="form-control">
      <!-- <small class="text-danger" [class.d-none]="f.email.invalid || f.email.touched">Email is required</small> -->
      <div *ngIf="f.email.invalid && f.email.touched">
        <small class="text-danger" *ngIf="f.email.errors?.required">Email is required!</small>
        <small class="text-danger" *ngIf="f.email.errors?.pattern">space is not allowed and @gmail.com required</small>
      </div>
    </div>
    <!----- Code for gender radio button -->
    <label>Gender</label>
    <div class="custom-control custom-radio">
      <input id="male" type="radio" class="custom-control-input" value="male" name="gender" formControlName="gender">
      <label class="custom-control-label" for="male">Male</label>
    </div>

    <div class="custom-control custom-radio">
      <input id="female" type="radio" class="custom-control-input" value="female" name="gender"
        formControlName="gender">
      <label class="custom-control-label" for="female">Female</label>
    </div>
    <!----- Code for country selection -->
    <label>Country</label>
    <br>
    <select formControlName="country">
      <option value="select">--Select--</option>
      <option value="India">India</option>
      <option value="Åland Islands">Åland Islands</option>
      <option value="Albania">Albania</option>
      <option value="Algeria">Algeria</option>
      <option value="American Samoa">American Samoa</option>
      <option value="Andorra">Andorra</option>
      <option value="Angola">Angola</option>
      <option value="Anguilla">Anguilla</option>
      <option value="Antarctica">Antarctica</option>
      <option value="Antigua and Barbuda">Antigua and Barbuda</option>
    </select>
        <!-- Description -->
        <div class="form-group" id="description">
          <label for="description">Description</label>
          <textarea type="text" formControlName="description" id="description" class="md-textarea form-control" rows="5" mdbInput></textarea>
        </div>
            <!----- Code for checkbox button -->
    <label>T&C</label>
    <div class="custom-control custom-checkbox">
      <input   type="checkbox" class="custom-control-input"  name="conditions" formControlName="conditions">
      <br>
      <label id="checkbox" class="custom-control-label" >Accepted</label>
    </div>

    <!-- <div class="custom-control custom-checkbox">
      <input id="11" type="checkbox" class="custom-control-input" value="11" name="education"
        formControlName="education">
      <label class="custom-control-label" for="11">Female</label>
    </div> -->
    <!----- Code for submit button ---->
    <div id="button" class="form-group">
      <button class="btn btn-success" (click)="onSubmit()">Submit</button>
    </div>
  </form>
  {{registrationForm.status | json}}
  <br>
  {{registrationForm.value | json}}
</div>
